body{
    background: radial-gradient(#181818 15%,#070707 85%);
    overflow: hidden;
}
#logo {
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    width:40%;
}
